/**  NAVBAR RIGHT------------------------------------------  **/

.navbar-right {
    margin-right: 0
}
.top_nav .navbar-right {
    margin: 0;
    // width: 70%;
    width: 20%;
    float: right
}
.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static
}
@media (min-width: 480px) {
    .top_nav .navbar-right li {
        position: relative;
    }
}










